body {
    margin:0;
    background-color:#333333;
    color: white;
}
/*Start of nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #262626
}
/*End of nav bar */

div.Content{
    margin:auto;
    padding: 55px;
    text-align: center;
    
}
