/* This is the CSS Stlye Sheet for the home page of my portfolio */
body{
  background-color: grey;
  color: white;
  } 
ul{
  position: fixed;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
